a {
    padding: 0.2em;
}
a:hover {
    background-color: #02AAEE;
}
#status-bar {
    display: block;
    margin-top: 8px;
    padding: 1%;
    border: 1px solid #666;
    background-color: #efefef;
}
#output {
   width: 100%;
   margin-top: 20px;
   background: #a5a4f11c;
   height: 400px;
   display: none;
}

